<h1 align="center">Closed Pull Request Data</h1><h2 align="center">Repo Summary</h2>

<%
  repos = pr_data.map {|pr| pr[:repo]}.uniq
  lifecycle_data = [
      { name: "Merge Time", data: pr_data.pluck(:repo,:merge_time) },
      { name: "Close Time", data: pr_data.pluck(:repo,:close_time) }
  ]

  # Establish which columns have useful data
  mrg_time_enabled = lifecycle_data[0][:data].any? {|value| value[1] > 0 }
  intg_time_enabled = lifecycle_data[1][:data].any? {|value| value[1] > 0 }

  lifecycle_data.delete_at(1) if !intg_time_enabled
  lifecycle_data.delete_at(0) if !mrg_time_enabled

  columns = controller.session_closed_columns.reject {|v| v == :merge_time || v == :intg_time}
  chart_data, series, axis = controller.create_closed_graph_data columns, pr_data, :repo
%>

<!-- We could use ajax to retrieve the data, but we don't want to get different data than
     is shown in the table so this needs to be syncronously loaded.
  -->
<%= column_chart chart_data, library: { vAxes: axis, series: series } %>

<% if controller.session_closed_columns.include?(:merge_time) || controller.session_closed_columns.include?(:intg_time) %>
  <%= bar_chart lifecycle_data, stacked: true, xtitle: "PR Lifecycle (hours)", height: "#{repos.count*20}px" %>
<% end %>

<%= form_tag("/pull_request/closed/set_columns", method: "put", remote: true, onChange: 'submit();') do %>

<table id="closed_repo_prs" class="table table-condensed table-striped" width="100%">
  <thead><tr align="left">
    <th>Repo</th>
    <th>PR Count <%= check_box_tag(:total, :total, controller.closed_column?(:total), class: 'header_checkbox') %></th>
    <th>Authors <%= check_box_tag(:authors, :authors, controller.closed_column?(:authors), class: 'header_checkbox') %></th>
    <% if mrg_time_enabled %>
      <th>Average Merge Time<br/><sup>(hours)</sup> <%= check_box_tag(:merge_time, :merge_time,
                                                                      controller.closed_column?(:merge_time), class: 'header_checkbox') %></th>
    <%
      end
      if intg_time_enabled
    %>
      <th>Average Integration Time<br/><sup>(hours)</sup> <%= check_box_tag(:intg_time, :intg_time,
                                                                            controller.closed_column?(:intg_time), class: 'header_checkbox') %></th>
    <% end %>
  </tr></thead>

  <tbody>
  <% pr_data.each {|repo_summary| %>
      <tr>
        <td><%= link_to repo_summary[:repo], PullRequestHelper.github_repo_path(repo_summary[:repo]) %></td>
        <td><%= repo_summary[:total] %></td>
        <td><%= repo_summary[:authors] %></td>
        <% if mrg_time_enabled %>
          <td><%= '%.2f' % repo_summary[:merge_time] %></td>
        <%
          end
          if intg_time_enabled
        %>
          <td><%= '%.2f' % repo_summary[:intg_time] %></td>
        <% end %>
      </tr>
  <% } %>
  </tbody>
</table>

<% end %>

<%= render 'init_table', locals: { table_name: 'closed_repo_prs', checkboxes: true } %>

