<%
  comment_count_enabled = file_data.any? {|file_hash|
    file_hash[:pr_data].any? {|pr| pr[:comment_count] > 0 if pr[:comment_count].present? }
  }

  repos = file_data.map {|file_hash|
    file_hash[:pr_data].map {|pr| pr[:repo]}
  }.flatten.uniq

%>

  <h1 align="center">Open Pull Request Trends</h1><h2 align="center">Repo Summary</h2>

  <%= form_tag("/pull_request/open/set_columns", method: "put", remote: true, onChange: 'submit();') do %>

  <table id="open_repo_trend" class="table table-condensed table-striped" width="100%">
    <tbody><tr align="left">
      <th>PR Count <%= check_box_tag(:total, :total, controller.open_column_selected?(:total), class: 'header_checkbox') %></th>
      <th>Authors <%= check_box_tag(:authors, :authors, controller.open_column_selected?(:authors), class: 'header_checkbox') %></th>
      <th>Open Time <%= check_box_tag(:open_time, :open_time,
                     controller.open_column_selected?(:open_time), class: 'header_checkbox') %>
        <br/><sup>(hours)</sup></th>
      <% if comment_count_enabled %>
          <th># of Comments <%= check_box_tag(:comment_count, :comment_count,
                                              controller.open_column_selected?(:comment_count), class: 'header_checkbox') %></th>
      <% end %>
      <th># Mergeable <%= check_box_tag(:mergeable, :mergeable, controller.open_column_selected?(:mergeable), class: 'header_checkbox') %></th>
    </tr></tbody>
  </table>

  <% end %>

<%

  repos.each {|repo|
    repo_data = file_data.map {|file_hash|
      { filename: file_hash[:file_name],
        file_date: file_hash[:file_date],
        pr_data: file_hash[:pr_data].select {|pr| pr[:repo] == repo}
      }
    }

    chart_data, series, axis = controller.create_trend_graph_data controller.open_column_defs, controller.open_columns, repo_data
%>

    <h2 align="center"><%= repo %></h2>
    <%= line_chart chart_data, library: { vAxes: axis, series: series } %>

<% } %>
