<% comment_count_enabled = pr_data.any? {|pr| pr[:comment_count] > 0 if pr[:comment_count].present? } %>
<h1 align="center">Open Pull Request Data</h1><h2 align="center">Repo Summary</h2>

<!-- We could use ajax to retrieve the data, but we don't want to get different data than
     is shown in the table so this needs to be syncronously loaded.
  -->
<%= column_chart pr_data.pluck(:repo,:total), ytitle: "Number of PRs" %>

<table id="open_repo_prs" class="table table-condensed table-striped" width="100%">
  <thead><tr align="left">
    <th>Repo</th>
    <th>PR Count</th>
    <th>Authors</th>
    <th>Open Time<br/><sup>(hours)</sup></th>
    <% if comment_count_enabled %>
        <th># of Comments</th>
    <% end %>
  </tr></thead>

  <tbody>
  <% pr_data.each {|summary| %>
      <tr>
        <td><%= link_to summary[:repo], PullRequestHelper.github_repo_path(summary[:repo]) %></td>
        <td><%= summary[:total] %></td>
        <td><%= summary[:authors] %></td>
        <td><%= '%.2f' % summary[:open_time] %></td>
        <% if comment_count_enabled %>
            <td><%= summary[:comment_count] %></td>
        <% end %>
      </tr>
  <% } %>
  </tbody>
</table>

<%= render 'init_table', locals: { table_name: 'open_repo_prs' } %>

