<h1 align="center">Open Pull Request Data</h1><h2 align="center">Repo Summary</h2>

<!-- We could use ajax to retrieve the data, but we don't want to get different data than
     is shown in the table so this needs to be syncronously loaded.
  -->
<%= column_chart pr_data.pluck(:repo,:total) %>

<table id="open_repo_prs" class="table table-condensed table-striped" width="100%">
  <thead><tr align="left">
    <th>Repo</th>
    <th>PR Count</th>
    <th>Authors</th>
    <th>Open Time<br/><sup>(hours)</sup></th>
  </tr></thead>

  <tbody>
  <% pr_data.each {|repo_summary| %>
      <tr>
        <td><%= link_to repo_summary[:repo], PullRequestHelper.github_repo_path(repo_summary[:repo]) %></td>
        <td><%= repo_summary[:total] %></td>
        <td><%= repo_summary[:authors] %></td>
        <td><%= '%.2f' % repo_summary[:open_time] %></td>
      </tr>
  <% } %>
  </tbody>
</table>

<%= render 'init_table', locals: { table_name: 'open_repo_prs' } %>

