<% pr_data = file_data.first[:pr_data] %>
<% comment_count_enabled = pr_data.any? {|pr| pr[:comment_count] > 0 if pr[:comment_count].present? }
   authors_enabled = pr_data.any? {|pr| pr[:author].present? }
   repos_enabled = pr_data.any? {|pr| pr[:repo].present? }
%>
<h1>Open Pull Request Trend Data</h1>

<table id="open_prs" class="table table-striped" width="100%">
  <thead><tr align="left">
    <% if repos_enabled %>
      <th>Repo</th>
    <% end %>
    <% if authors_enabled %>
      <th>Author</th>
    <% end %>
    <th>Open Time<br/><sup>(hours)</sup></th>
    <% if comment_count_enabled %>
        <th># of Comments</th>
    <% end %>
    <th>Mergeable?</th>
  </tr></thead>

  <tbody>
  <% pr_data.each {|pr| %>
      <tr>
        <% if repos_enabled %>
          <td><%= pr[:repo] %></td>
        <% end %>
        <% if authors_enabled %>
          <td><%= pr[:author] %></td>
        <% end %>
        <td><%= pr[:open_time] %></td>
        <% if comment_count_enabled %>
            <td><%= pr[:comment_count] %></td>
        <% end %>
        <td><%= pr[:mergeable] %></td>
      </tr>
  <% } %>
  </tbody>
</table>

<%= render 'init_table', locals: { table_name: 'open_prs' } %>
