<%
  comment_count_enabled = pr_data.any? {|pr| pr[:comment_count] > 0 if pr[:comment_count].present? }
  columns = controller.session_open_columns.reject {|v| v == :open_time}
  chart_data, series, axis = controller.create_open_graph_data columns, pr_data, :author
%>
<h1 align="center">Open Pull Request Data</h1><h2 align="center">Author Summary</h2>

<% authors = pr_data.map {|pr| pr[:author]}.uniq %>

<!-- We could use ajax to retrieve the data, but we don't want to get different data than
     is shown in the table so this needs to be syncronously loaded.
  -->
<%= column_chart chart_data, library: { vAxes: axis, series: series } %>

<% if controller.session_open_columns.include? :open_time %>
  <%= bar_chart pr_data.pluck(:author,:open_time), xtitle: "Average Time Open (hours)", height: "#{[(authors.count*1.25).to_i,200].max}px",
                              library: {'chartArea': {'width': '80%', 'height': '70%'}}
%>
<% end %>

<%= form_tag("/pull_request/open/set_columns", method: "put", remote: true, onChange: 'submit();') do %>

<table id="open_author_prs" class="table table-condensed table-striped" width="100%">
  <thead><tr align="left">
    <th>Author</th>
    <th>PR Count <%= check_box_tag(:total, :total, controller.open_column?(:total), class: 'header_checkbox') %></th>
    <th>Repo Count <%= check_box_tag(:repo_count, :repo_count, controller.open_column?(:repo_count), class: 'header_checkbox') %></th>
    <th>Open Time<br/><sup>(hours)</sup> <%= check_box_tag(:open_time, :open_time,
                                                           controller.open_column?(:open_time), class: 'header_checkbox') %></th>
    <% if comment_count_enabled %>
        <th># of PR Comments <%= check_box_tag(:comment_count, :comment_count,
                                               controller.open_column?(:comment_count), class: 'header_checkbox') %></th>
    <% end %>
    <th># Mergeable <%= check_box_tag(:mergeable, :mergeable, controller.open_column?(:mergeable), class: 'header_checkbox') %></th>
  </tr></thead>

  <tbody>
  <% pr_data.each {|summary| %>
      <tr>
        <td><%= summary[:author] %></td>
        <td><%= summary[:total] %></td>
        <td><%= summary[:repo_count] %></td>
        <td><%= '%.2f' % summary[:open_time] %></td>
        <% if comment_count_enabled %>
            <td><%= summary[:comment_count] %></td>
        <% end %>
        <td><%= summary[:mergeable] %></td>
      </tr>
  <% } %>
  </tbody>
</table>

<% end %>

<%= render 'init_table', locals: { table_name: 'open_author_prs', checkboxes: true } %>