<div class="settings">
  <%= form_tag("/pull_request/set_filters", method: "put", remote: true) do %>
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if params[:action] == 'open' %>"><a href="/pull_request/open">Open</a></li>
      <li class="<%= 'active' if params[:action] == 'closed' %>"><a href="/pull_request/closed">Closed</a></li>
      <% if current_page?(pull_request_closed_path) %>
        <li class="dropdown pull-right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= check_box_tag(:unmerged, :unmerged, controller.filter_enabled?(:unmerged, false)) %> <%= label_tag(:unmerged, "Not Merged") %></li>
            <li class="divider"></li>
            <li><%= submit_tag("Apply") %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>